Flow1.json
[{"id":"9ca04619.95de08","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"524a2683.d85da8","type":"inject","z":"9ca04619.95de08","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["f23e81cc.bb668"]]},{"id":"4313fadc.c54e54","type":"inject","z":"9ca04619.95de08","name":"","topic":"","payload":",,30.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["f23e81cc.bb668"]]},{"id":"f23e81cc.bb668","type":"mqtt out","z":"9ca04619.95de08","name":"","topic":"mcs/DFCCFpC6/jqYFnqHQ0z3NWzrI/Temperature","qos":"2","retain":"","broker":"8808d8e5.bd69c8","x":500,"y":320,"wires":[]},{"id":"8808d8e5.bd69c8","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]