Flow2.json
[{"id":"8c6e23d4.1e53","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"8b8f4df1.0ed78","type":"mqtt in","z":"8c6e23d4.1e53","name":"","topic":"mcs/DFCCFpC6/jqYFnqHQ0z3NWzrI/+","qos":"2","datatype":"auto","broker":"91089f6f.59d2","x":150,"y":300,"wires":[["2f2a3bea.92fbc4"]]},{"id":"2f2a3bea.92fbc4","type":"csv","z":"8c6e23d4.1e53","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","strings":true,"x":400,"y":440,"wires":[["199119c4.cbb966"]]},{"id":"199119c4.cbb966","type":"change","z":"8c6e23d4.1e53","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":580,"wires":[["5612464.e1adfb8"]]},{"id":"5612464.e1adfb8","type":"ui_gauge","z":"8c6e23d4.1e53","name":"","group":"308e3735.cdbcd8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":680,"wires":[]},{"id":"91089f6f.59d2","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"308e3735.cdbcd8","type":"ui_group","z":"","name":"Status","tab":"49717e77.425e3","order":1,"disp":true,"width":"6","collapse":false},{"id":"49717e77.425e3","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]